#create
{
    display: flex;
    justify-content: center;
    padding: 10%;
}

#buttonSendForm
{
    float: right;
}

#textAreaBody {
    width: 100%;
    height: 20em;
}

.questionForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}