@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto_Mono/static/RobotoMono-Light.ttf);
}

* {
  color: var(--color-text);
}

button,
select,
textarea,
input,
option {
  background-color: var(--color-background);
  color: var(--color-text);
  border-radius: var(--radius-m);
  border: var(--border-width) solid var(--border-color);
  padding: var(--space-m);
  margin: var(--space-s);
}

textarea {
  resize: vertical;
  width: 100%;
  padding: var(--space-l);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-text-secondary);
  background: var(--color-background-secondary);
}

::selection {
  color: var(--color-text-secondary);
  background: var(--color-background-secondary);
}

*:focus,
*:focus-visible {
  border-color: var(--color-background-secondary);
  outline: none;
}

button {
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary) !important;
  border: var(--border-width) solid var(--border-color);
  padding: var(--space-m);
  padding-inline: var(--space-xl);
  font-family: "Roboto";
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-interaction-hover);
}

button:active {
  background-color: var(--color-interaction-active);
  color: var(--color-text-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  color: var(--color-text);
}

a {
  color: var(--color-text);
}

p {
  color: var(--color-text-light);
}

p > i {
  font-variant: unicase;
}

header {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--color-background);
  width: 100vw;
  padding: var(--space-l);
}

header > *:last-child {
  display: flex;
  justify-content: right;
}

header > *:nth-child(2) {
  display: flex;
  justify-content: center;
}

footer {
  background-color: var(--color-background-secondary);
  overflow: hidden;
}

footer > * {
  color: var(--color-text-secondary);
}

.app {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.page {
  overflow: hidden;
  overflow-y: scroll;
  background-color: var(--color-background);
  flex: 1;
}

.page > *:first-child {
  min-height: 100%;
}

.page > *:not(footer),
footer > * {
  width: min(calc(100% - var(--space-l) * 2), 1200px);
  margin-inline: auto;
}

li {
  color: var(--color-text-light);
}
::-webkit-scrollbar {
  width: var(--space-l);
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: var(--radius-m);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-background-secondary);
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--color-text-light);
}

.card {
  padding-inline: var(--space-l);
  border: var(--border-default);
  border-radius: var(--radius-m);
}
