:root {
  /* primary */
  --color-background: #c7beb3;
  --color-text: #0d0d0d;
  --color-text-light: #2a2a2a;

  /* secondary */
  --color-background-secondary: #4d6c95;
  --color-text-secondary: white;
  --color-text-secondary-light: rgb(187, 187, 187);

  /* interaction */
  --color-interaction-hover: #698ab6;
  --color-interaction-active: #385479;

  /* special */
  --color-error: rgb(221, 79, 79);
  --color-success: rgb(105, 172, 105);

  /* spacing */
  --space-s: 2px;
  --space-m: 4px;
  --space-l: 8px;
  --space-xl: 12px;

  /* shadow */
  --shadow-color: rgba(0, 0, 0, 0.3);
  --shadow-default: 0px 1px 2px 0 var(--shadow-color);
  --shadow-inside: 0px 1px 1px 1px var(--shadow-color) inset;
  --shadow-lifted: 0 2px 3px 0 var(--shadow-color);

  /* shapes */
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 16px;
  --radius-xl: 24px;
  --border-width: 1px;
  --border-color: rgba(0, 0, 0, 0.103);
  --border-default: var(--border-width) solid var(--border-color);

  /* animation */
  --duration-fast: 250ms;
  --duration-slow: 500ms;
  overflow: hidden;
}

.dark {
  /* primary */
  --color-background: #16161a;
  --color-text: #fffffe;
  --color-text-light: #94a1b2;

  /* secondary */
  --color-background-secondary: #7f5af0;
  --color-text-secondary: #fffffe;
  --color-text-secondary-light: #fffffe;

  /* special */
  --color-success: green;

  /* shapes */
  --border-color: rgba(255, 255, 255, 0.103);
  --border-default: var(--border-width) solid var(--border-color);

  /* interaction */
  --color-interaction-hover: #8867eb;
  --color-interaction-active: #5230b8;
  overflow: hidden;
}

.starton {
  /* primary */
  --color-background: #151a1f;
  --color-text: #fffffe;
  --color-text-light: #94a1b2;

  /* secondary */
  --color-background-secondary: #00e6cd;
  --color-text-secondary: #0d0d0d;
  --color-text-secondary-light: #2a2a2a;

  /* special */
  --color-success: rgb(48, 129, 48);

  /* shapes */
  --border-color: rgb(62, 78, 92);
  --border-default: var(--border-width) solid var(--border-color);

  --radius-s: 1px;
  --radius-m: 2px;
  --radius-l: 4px;
  --radius-xl: 8px;

  --space-s: 2px;
  --space-m: 6px;
  --space-l: 12px;
  --space-xl: 24px;

  /* interaction */
  --color-interaction-hover: rgb(1, 178, 158);
  --color-interaction-active: rgb(1, 178, 158);
  overflow: hidden;
}
