.card {
  border: var(--border-default);
  border-radius: var(--radius-m);
  display: grid;
  grid-template-columns: auto auto;
  pointer-events: fill;
  padding: 0;
}

.card > * > * {
  padding-inline: var(--space-l);
}

.card:hover {
    border-color: var(--color-background-secondary);
    cursor: pointer;
}

.card > *:nth-child(2) {
  display: flex;
  justify-content: right;
  text-align: right;
}

.chain {
  border-left: var(--border-default);
  transition-duration: 500ms;
  width: 20ch;
  overflow: hidden;
}

.chain:not(.show) {
  width: 0px;
  color: transparent;
  white-space: nowrap;
}

.chain:not(.show) * {
  color: transparent;
  white-space: nowrap;
}
