.card {
  border: var(--border-default);
  border-radius: var(--radius-m);
  display: flex;
  pointer-events: fill;
  padding: 0;
  overflow: hidden;
}

.card > *:first-child {
  flex: 1;
}

.card > * > * {
  padding-inline: var(--space-l);
}

.card:hover {
  border-color: var(--color-background-secondary);
  cursor: pointer;
}

.card > *:nth-child(2) {
  display: flex;
  justify-content: right;
  text-align: right;
}

.chain {
  border-left: var(--border-default);
  transition-duration: 500ms;
  width: 12ch;
  overflow: hidden;
  text-align: rights;
}

.slider {
  border-left: var(--border-default);
  display: flex;
  align-items: center;
}

.slider:hover {
  color: var(--color-background-secondary);
}

.slider > i {
  transition-duration: var(--duration-slow);
}

.slider.show > i {
  transform: rotateZ(-90deg);
}

.slider > i {
  transform: rotateZ(90deg);
}

.chain:not(.show) {
  width: 0px;
  border-left: 0px;
  padding-inline: 0px;
  color: transparent;
  white-space: nowrap;
}

.chain:not(.show) * {
  color: transparent;
  white-space: nowrap;
}

.innerCard {
  position: relative;
}

.status {
  position: absolute;
  top: var(--space-l);
  right: 0;
}