@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto_Mono/static/RobotoMono-Light.ttf);
}

button {
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--radius-m);
  padding: var(--space-m);
  padding-inline: var(--space-xl);
  font-family: "Roboto";
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-interaction-hover);
}

button:active {
  background-color: var(--color-interaction-active);
  color: var(--color-text-light);
}

h1, h2, h3, h4, h5, h6, button {
  color: var(--color-text);
}

p {
  color: var(--color-text-light);
}

header {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--color-background);
  width: 100vw;
  padding: var(--space-l);
}

header > *:nth-child(2) {
  display: flex;
  justify-content: right;
}

footer {
  background-color: var(--color-background-secondary);
  overflow: hidden;
}

footer > * {
  color: var(--color-text-secondary);
}

.app {
  background-color: var(--color-background);
  display: flex;
  height: 100vh;
  display: grid;
  width: 100vw;
}

.page {
  overflow: hidden;
  overflow-y: scroll;
  background-color: var(--color-background);
  max-height: 100%;
}

.page > *:not(footer), footer>* {
  width: min(calc(100% - var(--space-l) * 2), 1200px);
  margin-inline: auto;
}
