.cardRole
{
    width: 30%;
    display: flex;
    border-color: var(--border-color);
    border-style: solid;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 50px;
}

.titleCard
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: var(--color-text);
    font-size: 25px;
    border-bottom: solid var(--border-color);
    padding-bottom: 20px;
}

.descriptionCard {
    display: flex;
    /* text-align: center; */
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}