.test {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.parent {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    border: solid 1px var(--border-color);
    padding: var(--space-xl);
    border-radius: var(--radius-m);
    width: 100%;
    margin-bottom: var(--space-xl);
}

.delegate {
    display: inline-flex;
}
